<head>
    <title>WebApp</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <style>

    </style>
</head>
<body>
    <div id="header"><h1>Kontomatik Demo</h1></div>
    <div id="section">
        <div class="blanched">
            <p> Kontomatik API allows a system to import end-user bank data.</p>
            <form action="@routes.Application.signin()">
                <button>Start Demo</button>
            </form>
        </div>
    </div>
</body>
